/** {
  box-sizing: border-box;
}*/

body {
  font-family: 'Macondo', sans-serif;
  text-align: center;
}

h1 {
  font-family: 'Cabin Sketch', sans-serif;
}

h2 {
  font-family: 'Fredericka the Great', sans-serif;
}
